[Unit]
Description=MI 2020 Topic Medicial Sentiment Service
After=network.target rabbitmq-server.service mysql.service
Requires=rabbitmq-server.service mysql.service

[Service]
Type=simple
WorkingDirectory=[DIRECTORY]
# User=root
# Group=root
ExecStart=/usr/bin/python3 [DIRECTORY]/main.py
Restart=always

[Install]
WantedBy=multi-user.target